body{
	background-color:#777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777;
	font-size: 18px
}
 
 p{
 	text-align:center;
 	border:10px;
 	background-color: #ebebeb;
 	height:50px;
 	width:80%;



 	
 }

 #one {
 	width:960px;
 	height:70px;
 	margin-left:200px;
 	
 	
 }

 #two{
 	width:960px;
 	height:70px;
 	margin-left:200px;
 }

 #three{
 	width:495px;
 	float:left;
 	margin-left:200px;
 	height:300px;
 	
 }

 #four{
 	width:405px;
 	float:right;
 	height:300px;
 	left:760px;
 	position:absolute;
 }
 
 #five{
 	background:#777;
 	float:left;
 	width:480px;
 	height:230px;
 	position:absolute;
 	margin-left:210px;
 	top:220px;
 	color: #ebebeb;
 	padding-top:5px;
 }

 #six{
 	background: #ebebeb;
 	float:left;
 	width:450px;
 	height:70px;
 	position:absolute;
 	margin-left:225;
 	top:280px;
 }

 #seven{
 	background: #ebebeb;
 	float:left;
 	width:450px;
 	height:70px;
 	position:absolute;
 	margin-left:225;
 	top:360px;
 }

 #eight{
 	background: #ebebeb;
 	width:960px;
 	height:70px;
 	margin-left:200px;
 	clear:both;
 }